@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;600;900&display=swap');

body {
  background-color: $mainbg;
}

.visually-hidden {
  display: none;
}

.disableScroll {
  overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant Infant', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}

h1, h2 {
  text-align: center;
}

p {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.lead {
  font-style: italic;
  color: #6c4b07;
  font-size: 22px;
  font-family: 'Cormorant Infant';
  font-weight: 100;
  a {
    color: $mainhover;
  }
}

.sectionIcon {
  max-width: 100px;
  margin: 0 auto;
}

@media (min-width: 1012px) {
  h2 {
    font-size: 30px;
  }
}

