.btn {
  padding: .5rem 1.5rem;
  background-color: $mainhover;
  color: black;
  border: 1px solid $mainhover;
  text-transform: capitalize;
  transition: color 100ms, border-color 100ms;
  &:hover {
    text-decoration: none;
    color: white;
    transition: color 100ms, border-color 100ms;
    border-color: white;
  }
}