<footer class="bottomFooter">
  <div class="container">
    <nav class="bottomFooter__nav row">
      {% for item in footerNav.items %}
      <a class="bottomFooter__link" href="{{ item.link }}">{{ item.title }}</a>
      {% endfor %}
    </nav>
    <div class="row bottomFooter__credits">
      Made with 🤍 by the 9th Age Community
    </div>
  </div>
</footer>
<input id="page_url" type="hidden" value="{{ site.url }}">
{{ function('wp_footer') }}
</body>
</html>