{% for language in languages %}
  {% if language.current_lang %}
    <a href="" class="headerMenu__link">{{ language.name }}</a>
  {% endif %}
{% endfor %}
<ul class="headerMenu__submenu">
  {% for language in languages %}
    {% if not language.current_lang %}
      <li class="headerMenu__item">
        <a class="headerMenu__link" href="{{ language.url }}">{{ language.name }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>