<section class="hero">
  <div class="hero__parallax" style="background-image: url('{{ Image(post.header_img).src }}')"></div>
  <div class="hero__logoContainer">
    <h1 class="hero__title">{{ post.title }}</h1>
  </div>
</section>