<!DOCTYPE html>
<html lang="no">

<head>
  {{ function('wp_head') }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="{{ site.title }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="R8Edge">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site.title }}</title>
</head>

<body>
  {% include 'partials/header.twig' %}

  {% block content %}
  {% endblock %}

  {% include 'partials/footer.twig' %}