.factionCard {

  margin-bottom: 2rem;
  &__img {
    width: 100%;
  }
  &__overlay {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    opacity: 1;
    height: 4rem;
    width: 100%;
    left:0;
    display: flex;
    align-items: center;
  }
  &__icon {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    display: none;
    transition: opacity 200ms;
  }
  &__title {
    color: $mainhover;
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: 1;
    transition: opacity 200ms;
    margin-bottom: 0;
  }
  &__content {
    position: relative;
    display: block;

  }
}

@media (min-width: 1012px) {
  .factionCard {
    &__overlay {
      top: 0;
      right: 0;
      opacity: 0;
      transition: opacity 200ms;
      width: 100%;
      height: 100%;
      &:hover {
        opacity: 1;
        transition: opacity 200ms;

        & > * {
          opacity: 1;
          transition: opacity 200ms;
        }
      }
    }
    &__icon {
      opacity: 0;
      display: block;
    }
    &__title {
      bottom: 0;
    }
  }
}