.factionPage {
  & h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  &__lead {
    margin-bottom: 2rem;
    &, p {
      font-style: italic;
      color: #6c4b07;
      font-size: 22px;
      font-family: 'Cormorant Infant';
      font-weight: 100;
    }
  }
}