.topHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  transition: background-color 300ms;
  background-color: rgba(0,0,0,0);

  &--hasScrolled {
    transition: background-color 300ms;
    background-color: rgba(0,0,0,0.75);
  }

  & .siteLogo {
    display: none;
  }
}

@media (min-width: 1012px) {
  .topHeader {
    & .siteLogo {
      display: block;
    }
  }
}