.imageGallery {
  margin-top: 2rem;
  margin-bottom: 2rem;
  & .row {
    justify-content: center;
  }
  & img {
    width: 100%;
    max-height: 90px;
    object-fit: cover;
    filter: grayscale(1);
    transition: filter 150ms;
    margin-bottom: 2rem;
    &:hover {
      filter: none;
      transition: filter 150ms;
      cursor: pointer;
    }
  }
}

@media (min-width: 974px) {
  .imageGallery {
    & img {
      max-height: 150px;
    }
  }
}