.languageSelector {
  & > span::before {
    content: '\025BE';
    font-size: 1rem;
    margin-left: .5rem;
    transition: transform .2s;
    color: #fff;
    float: right;
    scale: 1.75;
  }
  &--mobile {
    display: block;
  }
  &--desktop {
    display: none;
  }
  & ul {
    margin-bottom: 0;
    list-style: none;
    color: white;
    & a {
      color: white;
      text-decoration: none;
      &:hover {
        color: $mainhover;
      }
    }
    & li {
      margin-left: 0;
    }
  }
  & .menu-item-has-children li {
    padding-left: 20px;
  }
  & .menu-item-has-children li:first-of-type {
    cursor: pointer;
    padding-left: 0;
    &:hover {
      color: $mainhover;
    }
  }
}

@media (min-width: 1012px) {

  .languageSelector {
    position: relative;
    & a {
      width: 13ch;
    }
    &--mobile {
      display: none;
    }
    &--desktop {
      display: block;
    }
    &:hover {
      & li {
        display: block;
      }
    }
    & .headerMenu__submenu {
      position: absolute;
      left: 0;
      padding-left: 0;
    }
  }
}