.forumPosts {
  background-color: rgba(0,0,0,0.75);
  color: white;
}

.recentPostsList {
  display: flex;
  flex-direction: column;
  background-color: $mainbg;
  color: white;
  a {
    color: $mainhover;
  }
  &__item {
    font-size: 18px;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.80);
    &:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, 0.85);
    }
  }
  &__postedIn {
    color: white;
    margin: 0;
    font-size: 12px;
  }
  & .loader {
    display: none;
  }
  & .loading {
    margin: 0 auto;
    & .loader {
    display: block;
    margin: 0 auto;
    }
  }
}
