<div class="container">

  <div class="row">
    <div class="col-12">
      <h2 class="textBlock__title">{{ fields.title }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="textBlock__body">
        {{ fields.body }}
      </div>
    </div>
  </div>

</div>