<div class="container-fluid forumPosts my-3 my-md-5">
	<div class="container py-3 py-md-5">
		<div class="row mb-3">
			<img class="sectionIcon" src="{{ forum_icon }}">
		</div>
		<div class="row">
			<div class="col-md-6 mx-auto">
				<h2 class="mb-3">Ten Most Recent Forum Posts</h2>
				<section id="recentPostsList" class="loading recentPostsList">
					<img class="loader" src="{{ gif_loader }}">
				</section>
			</div>
		</div>
	</div>
</div>